header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-xxs !important;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  z-index: 1;

  .logo{
    width: 100px;
  }

  .menu-mobile{
    display: none;
  }

  nav{
    ul{
      display: flex;
      list-style: none;
      li{
        margin: 0 10px;
        color: $color-white;
        font-size: $font-size-xs;
        font-family: $font-family-base;
        font-weight: 400;

        a{
          text-decoration: none;
          color: $color-white;
        }

        a:hover{
          color: $-color-brand-01;
        }

        &:hover {
          /* Estilo para botões do menu no estado "hover" */
          color: $-color-brand-01;
          //border-bottom: 2px solid $-color-brand-01;
          /* Adicione outros estilos de hover aqui */
        }
      }  
    }
  }
}


@media only screen and (max-width: 576px) {

  header{
    flex-direction: column;

    .menu-mobile{
      display: block;
      color: $-color-brand-01;
      font-size: $font-size-lg !important;
    }
  }

  header nav ul{
    display: none;
  }

  .active{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: $spacing-xxxs;
    text-align: center;
  }

 
}
